@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1111px;
  width: 85%;
  margin: 0 auto;
}

.transition-ease {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.heading { font-size: 42px; }

.para {
  color: #8a8680;
  font-size: 15px;
}

/*=================================
  Header styling starts here
=================================*/

header {
  border-top: 6px solid #7ac491;
  background-color: #2d0205;
}

header .wrapper {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

h1 a { text-indent: -9999px; }
h1 img { float: left; }
.hamburger { display: none; }

.nav-list a {
  padding: 8px 16px;
  margin: 2px 5px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/* banner section start */

.banner {
  padding: 70px 0;
  position: relative;
  background-color: #2d0205;
  color: #fff;
}

.banner .wrapper { position: relative; }

.non-active-slide { display: none; }

.active-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-slides { position: relative; }

.active-slide { padding: 0 10%; }

.banner-content,
.banner-figure {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.banner-content h2 {
  max-width: 80%;
  font-size: 48px;
  font-weight: 600;
}

.banner-content .para {
  max-width: 80%;
  margin-top: 28px;
}

.banner-btn { margin-top: 22px; }

.banner-btn a {
  padding: 11px 18px;
  border-radius: 10px;
  background-color: #7ac491;
  color: #fff;
  font-size: 15px;
}

.banner-slides img {
  border-radius: 50%;
  outline: 25px solid #6B6B6B;
}

.arrows {
  max-width: 1360px;
  width: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.prev,
.next { text-indent: -9999px; }

.prev::before,
.next::before {
  content: "\f053";
  position: absolute;
  top: 50%;
  left: 0;
  color: #84B790;
  text-indent: 0;
  font-family: "fontAwesome";
  font-size: 30px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.next::before {
  content: "\f054";
  left: unset;
  right: 0;
}

/* banner section end */

/* service section start */

.service {
  padding: 90px 0 25px;
  background-color: #64050d;
}

.service .wrapper { position: relative; }

.book-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.book-item {
  padding: 20px 3%;
  margin-right: 20px;
  border: 1px solid #000;
  background-color: #ebebeb;
  text-align: center;
}

.book-item img { width: auto; }

.book-item .heading {
  padding: 15px 0 25px;
  font-size: 34px;
  font-weight: 600px;
  text-transform: uppercase;
}

/* service section end */

.latest,
h4 {
  color: #ebebeb;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}

.latest {
  margin: 50px 0;
  position: relative;
}

.latest::before {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  background: #3d3d3d;
  font-size: 55px;
}

.latest-line {
  padding: 10px;
  margin: auto 0;
  border-radius: 5px;
  position: relative;
  background-color: #3d3d3d;
}

.lorem-item { position: relative; }

.lorem-list .heading {
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0%;
  background-color: #1c1c1c;
  font-size: 15px;
}

.lorem-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lorem-item {
  margin-bottom: 29px;
  border: 5px solid #fff;
  -ms-flex-preferred-size: 30.5%;
  flex-basis: 30.5%;
}

.last-lorem>h4 {
  visibility: hidden;
  background-color: #3d3d3d;
  color: #3d3d3d;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

footer {
  padding: 43px 0;
  background-color: #333333;
}

footer .heading {
  margin-bottom: 44px;
  color: #ededed;
  font-size: 18px;
}

footer a {
  color: #7ac491;
  font-size: 15px;
}

.upper-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.upper-footer { padding-bottom: 43px; }

.upper-list-item {
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
}

.post {
  display: block;
  font-weight: 600;
}

.domain {
  color: #8a8680;
  font-size: 11px;
}

.blog-list li { margin-top: 12px; }

.blog-list li:first-child { margin-top: 0; }

/* links list */

.link-item {
  padding-bottom: 9px;
  margin-bottom: 9px;
  border-bottom: 1px solid #7ac491;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-item::before {
  content: "\f101";
  margin: 0 8px 0 0;
  position: relative;
  color: #84B790;
  font-family: "fontAwesome";
  text-indent: 0;
  font-size: 20px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

/* links list */

/* tweets start*/

.tweets-item:first-child { margin-bottom: 40px; }

/* tweets end*/

/* form start */

.inp-wrapper input,
.message-box textarea {
  width: 91%;
  padding: 11px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  background-color: #272727;
  color: #fff;
  resize: none;
}

.message-box textarea { padding-bottom: 30px; }

.inp-wrapper:first-child input { margin-top: 0; }

input[type='email'] { padding: 13px 10px; }

.submit-btn input {
  padding: 12px 25px;
  margin-top: 6px;
  border: none;
  border-radius: 10px;
  background-color: #7ac491;
  color: #363333;
  font-size: 16px;
  font-weight: 600;
}

.lower-footer {
  padding-top: 40px;
  border-top: 1px solid #000;
}

.lower-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lower-footer-list .para { font-size: 16px; }

/* form end */

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/

@media only screen and (min-width: 995px) {

  /* hover effect start */

  .active,
  .nav-list a:hover {
    border-radius: 10px;
    background-color: #7ac491;
  }

  .banner-btn a:hover {
    background-color: #006400;
    color: #000;
  }

  .prev:hover::before,
  .next:hover::before { color: #000; }

  .book-item:hover {
    background-color: #7ac491;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }

  .book-item:hover > .para { color: #fff; }

  .lorem-figure:hover+.heading { visibility: hidden; }

  footer a:hover { color: #fff; }

  .submit-btn input:hover {
    background-color: #006400;
    color: #fff;
  }

  /* hover effect end */

}

@media only screen and (min-width: 995px) and (max-width: 1160px) {

  .nav-list a { font-size: 11px; }

  .banner h2 { font-size: 30px; }

  .para { font-size: 14px; }

}

@media only screen and (max-width: 995px) {

  /* header styling start */

  header .wrapper { position: relative; }

  header img { padding-bottom: 10px; }

  .active { background-color: unset; }

  .hamburger {
    padding: 8px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
  }

  .header-bar {
    width: 25px;
    height: 3px;
    margin-bottom: 8px;
    border-radius: 10%;
    background-color: #fff;
    text-indent: -9999px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }

  .nav-list {
    width: 100%;
    padding: 10px 0;
    display: none;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0%;
    background: #333333;
  }

  .nav-list li {
    padding: 10px 0;
    margin: 0 5px 10px 5px;
    border-bottom: 1px solid #fff;
    display: block;
    color: #fff;
    font-size: 12px;
  }

  .nav-list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  .hamburger:hover + .nav-list { display: block; }

  nav:hover .nav-list { display: block; }

  .nav-list a { color: #fff; }

  .nav-list a:hover {
    color: #000;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }

  /* header styling end */

  /* banner section start */

  .banner { padding-top: 170px; }

  .active-slide {
    padding: 0 4%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .banner-content {
    margin-top: 60px;
    text-align: center;
  }

  .banner-content .para,
  .banner-content h2 { max-width: 100%; }

  .banner-content h2 { font-size: 30px; }

  /* banner section end */

  /* service section start */

  .book-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .book-item {
    margin-top: 20px;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
  }

  .book-item:last-child { margin-right: 20px; }

  /* service section end */

  /* lorem list section start */

  .lorem-item {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }

  /* lorem list section end */

  /* footer  start */

  .upper-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .upper-list-item {
    margin-bottom: 50px;
    text-align: center;
  }

  .blog-list-item { display: block; }

  .link-item a { margin: auto; }

  /* footer end */

}

@media only screen and (max-width: 640px) {

  .book-item {
    margin: 0 20px 18px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .lorem-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
  }

  .lower-footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .lower-footer-list li:nth-child(2) { margin-top: 15px; }
}